/* src/components/Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    font-weight: bold;
    display: flex;
    list-style-type: none;
}

.navbar-links li {
    margin-left: 1.5rem;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links a:hover {
    color: #ff6347;
    /* Orange color on hover */
    transition: color 0.3s ease;
}

html {
    scroll-behavior: smooth;
}