/* src/App.css */
section {
  padding: 5rem 2rem;
}

#about,
#resume,
#projects,
#skills,
#contact {
  background-color: lightgreen;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.footer {
  height: 60px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  padding: 0 2rem;
  bottom: 0;
  width: 100%;
}

.footer-icon {
  width: 30px;
  /* Adjust width as needed */
  height: 30px;
  /* Adjust height as needed */
  margin: 0 10px;
  /* Optional spacing between icons */
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.1);
  /* Slight zoom on hover */
}